#flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(221, 238, 197);
}
#nav{
 background-image:url(./imageswatch/icon.jpg);

    background-color: rgb(224, 224, 19);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}